.triangle01 {
    display: table;
    width: 60%;
    height: 2px;
    background-color: #e8a337;
    transform: skewY(45deg);
    margin-top: 10vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  
  .triangle01 > * {
    transform: skewY(10deg);
  }

  .triangle0 {
    display: table;
    width: 60%;
    height: 1px;
    background-color: #e8a337;
    margin-top: 10vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .parent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
  }

  .fo{
    position: relative;
    top: 100px;
  }